.main-serv
  padding-top: 80px
  padding-bottom: 80px
  @include mediaPhone
    padding-top: 20px
    padding-bottom: 40px

  // .main-serv__container
  &__container

  // .main-serv__wrap
  &__wrap
    // display: flex
    // // flex-wrap: wrap
    // flex-flow: column wrap
    // align-content: space-between
    // row-gap: 80px
    width: 100%
    columns: 2
    column-gap: 20px
    // height: 1360px
    @include mediaPhoneMid
      columns: 1
      row-gap: 40px
      height: auto

  &__video
    margin-bottom: 230px
    justify-content: center
    gap: 80px
    @include mediaPhone
      margin-bottom: 70px


  // .main-serv__item
  &__item
    // width: 49%
    width: 100%
    margin-bottom: 80px
    break-inside: avoid
    @include mediaPhoneMid
      margin-bottom: 40px
      // width: 100%
      &:nth-child(1)
        order: 2
      &:nth-child(2)
        order: 4
      &:nth-child(3)
        order: 1
      &:nth-child(4)
        order: 3
      &:nth-child(5)
        order: 5
      &:nth-child(6)
        order: 6
        margin-top: 0 !important
    &--bt
      padding-top: 40px
      border-top: 1px solid $black
    &--btn
      @include mediaPhoneMid
        order: 1
    &:last-child
      text-align: center
      margin-top: 40px


  // .main-serv__img
  &__img
    padding-bottom: 55.555556% // 350/630
    margin-bottom: 40px

  &__sticks
    .sticks__text
      background-color: $green
      color: $white
    .sticks__link::before
      background: url(../images/icons/sprite.svg#arrow-more-white) center/cover no-repeat


  // .main-serv__info
  &__info
    padding: 40px 20px
    border: 1px solid $black
    @include mediaPhoneMid
      padding: 10px

  // .main-serv__title
  &__title
    @include font(600, 30, 37)
    color: $black
    margin-bottom: 10px
    @include mediaPhoneMid
      font-size: 24px

  // .main-serv__text
  &__text
