.hero-found
  height: 710px
  background-color: $grey
  position: relative

  // .hero-found__img
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-position: center
    img
      width: 100%
      object-fit: cover


  // .hero-found__container
  &__container
    padding-top: 80px
    z-index: 1
    position: relative



  // .hero-found__head
  &__head
    font-family: Forum
    font-size: 50px
    line-height: 0.85
    color: $black
    max-width: 420px
    margin-left: auto
    margin-bottom: 40px

  &__down
    margin-left: auto
    max-width: max-content
    &--svg
      svg
        fill: $black

