.about
  padding-top: 80px
  &--dark
    background-color: $green
    padding-bottom: 20px
    & .about__container
      position: relative
    & .about__serv
      display: flex
      justify-content: space-between
      margin-top: 60px
      gap: 20px
      @include mediaPhone
        flex-wrap: wrap
        justify-content: center
    & .about__head
      color: $white
      margin-bottom: 70px
      &::before
        background-color: $white
    & .works__btns
      align-items: flex-end
    & .btn--about
      color: $white
      border: 1px solid $white
  &--single
    @include mediaPhone
      padding-top: 40px
    .about__img::before
      content: none
    .about__container-serv
      padding-bottom: 138px
      @include mediaPhone
        padding-bottom: 40px
    .about__content
      height: 100%
      padding: 60px 0
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-end
      @include mediaPhone
        gap: 20px

      @include mediaPhoneMid
        padding: 20px
        padding-top: 40px
        // justify-content: center
        align-items: center
    .about__group
      margin-right: unset
      margin-left: auto
      @include mediaPhone
        margin-right: auto
    .about__text
      color: $black
      margin-bottom: 0
      @include mediaPhone
        text-align: center
    .btn--about
      margin-left: auto
      margin-top: -21px
      @include mediaPhone
        margin-top: 2px
        margin-left: unset
    .about__title
      max-width: 566px
      text-align: right
      margin-bottom: 20px
      @include mediaPhone
        font-size: 24px
        text-align: center
        max-width: 275px
        margin-right: auto
        margin-bottom: 0

  // .about__container
  &__container
    &-content
      position: relative
      z-index: 1
      height: 538px
      display: flex
      align-items: center
    &-serv
      margin-top: 20px
      padding-bottom: 20px


  // .about__head
  &__head
    margin-bottom: 40px

  // .about__wrap
  &__wrap
    position: relative
    // &::before
    //   content: ''
    //   position: absolute
    //   top: 0
    //   left: 0
    //   width: 100%
    //   height: 100%
    //   background: linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%)
    //   z-index: 1

  // .about__img
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    // height: 100%
    height: 538px
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 100%)
      opacity: 0.3
      z-index: 1
    img
      object-fit: cover
      height: 100%
      width: 100%

  // .about__content
  &__content
    display: flex
    align-items: flex-end
    justify-content: space-between
    color: $white
    width: 100%
    gap: 30px
    @include mediaPhone
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 100%
      padding: 20px

  // .about__info
  &__info
    // display: flex
    // align-items: center
    height: 100%
    // justify-content: space-between
    max-width: 630px
    color: $white
    border: 1px solid $white
    padding: 44px 60px 44px 20px
    @include mediaPhone
      height: auto

  &__title
    font-family: Forum
    font-size: 50px
    line-height: 0.85
    color: $black
    max-width: 420px
    margin-left: auto
    // margin-bottom: 40px
    @include mediaTablet
      font-size: 36px
      max-width: 330px

  &__group
    max-width: 332px
    margin-right: auto
    display: flex
    flex-direction: column

  // .about__text
  &__text
    margin-bottom: 20px
    @include font(500, 20, 24)

  // .about__link
  &__link
    &::before
      background: url(../images/icons/sprite.svg#arrow-more-white) center/cover no-repeat
