.about
  padding-top: 80px

  // .about__container
  &__container
    &-content
      position: relative
      z-index: 1
      height: 100%
      display: flex
      align-items: center

  // .about__head
  &__head
    margin-bottom: 40px

  // .about__wrap
  &__wrap
    height: 500px
    position: relative

  // .about__img
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%)
      opacity: 0.3
      z-index: 1
    img
      object-fit: cover
      height: 100%
      width: 100%

  // .about__content
  &__content
    display: flex
    align-items: flex-end
    justify-content: space-between
    color: $white
    width: 100%

  // .about__info
  &__info
    // display: flex
    // align-items: center
    height: 100%
    // justify-content: space-between
    max-width: 630px
    color: $white
    border: 1px solid $white
    padding: 44px 60px 44px 20px

  // .about__text
  &__text
    margin-bottom: 20px
    @include font(500, 20, 24)


  // .about__link
  &__link
    &::before
      background: url(../images/icons/sprite.svg#arrow-more-white) center/cover no-repeat

