:root
  --imgUrlHero: url('../images/index/bg-hero.jpg')
.hero
  --height: 710px

  position: relative
  height: 100%
  min-height: var(--height)

  background-position: center
  background-repeat: no-repeat
  background-size: cover

  background-image: var(--imgUrlHero)
  overflow: hidden
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 80%
    height: 100%
    background-image: linear-gradient(90deg, #000000 0%, transparent)
    opacity: 0.3
    z-index: 1
    @include mediaTablet
      background-image: linear-gradient(180deg, #000000 0%, transparent)
      width: 100%
  @include mediaPhone
    --height: 600px
    height: var(--height)


  &__clip
    position: absolute
    top: 0
    bottom: 0
    left: 0
    height: var(--height)
    width: 100%
    filter: blur(2px)
    video,
    iframe,
    object,
    embed
      background-size: cover
      min-width: 100%
      min-height: 100%
      width: 100%
      height: 100%
      object-fit: cover
      z-index: -5
      position: fixed

  &__container
    // position: relative
    display: flex
    justify-content: center
    height: var(--height)
    flex-direction: column
    // z-index: 1
    @include mediaDesk
      flex-direction: row
      align-items: center
      justify-content: space-between
    @include mediaTablet
      flex-direction: column
      padding-top: 44px
      padding-bottom: 20px

  &__head
    font-family: 'Forum', serif
    @include font(400, 50, 55)
    color: $white
    max-width: 630px
    display: flex
    flex-direction: column
    z-index: 1
    span
      align-self: center
      display: block
    @include mediaPhoneMid
      font-size: 36px

  &__sticks
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    @include mediaDesk
      position: relative
      z-index: 1
      top: unset
      right: unset
      transform: unset
    @include mediaTablet
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      // column-gap: 20px

