.hero
  --height: 850px

  position: relative
  height: 100vh
  min-height: var(--height)
  background: $white url("../images/index/bg-hero.jpg") center / cover no-repeat
  overflow: hidden
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%
    background-image: linear-gradient(90deg, #000000 0%, transparent)
    opacity: 0.3
    z-index: 1
  @include mediaPhone
    --height: 600px
    height: var(--height)

  &__clip
    position: absolute
    top: 0
    bottom: 0
    left: 0
    height: var(--height)
    width: 100%
    filter: blur(0px)
    background: url('../images/index/bg-hero.jpg') no-repeat center / cover
  &__video
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    object-fit: cover

  &__container
    // position: relative
    display: flex
    justify-content: center
    height: 100%
    flex-direction: column
    z-index: 2

  &__head
    font-family: 'Forum', serif
    @include font(400, 50, 55)
    color: $white
    max-width: 630px
    display: flex
    flex-direction: column
    z-index: 1
    span
      align-self: center
      display: block

  &__sticks
    display: flex
    flex-direction: column
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
  &__sticker
    max-width: 380px
    height: 116px
    display: flex
    &:not(:last-child)
      margin-bottom: 10px
    @media (any-hover: hover)
      &:hover
        position: relative
        & .hero__text
          color: $white
          &::before
            width: 100%
        & .hero__arrow
          position: unset
          &::before
            left: 95%
            // right: 0
            z-index: 3
        & .hero__link-more::before
          right: 90px
          background: url("../images/icons/sprite.svg#arrow-more-white") center / cover no-repeat
  &__arrow
    position: relative
    width: 40px
    background-color: $black
    flex-shrink: 0
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 24px
      height: 24px
      background: url("../images/icons/sprite.svg#arrow-right") center / cover no-repeat
      transform: translate(-50%, -50%)
      transition: left 0.3s ease-in
  &__text
    position: relative
    width: 100%
    background-color: #E4F2F5
    display: flex
    flex-direction: column
    //align-items: center
    justify-content: center
    padding: 15px 0
    z-index: 2
    p
      padding: 0 30px
    &::before
      position: absolute
      content: ''
      display: block
      background-color: $black
      height: 100%
      width: 0%
      z-index: -1
      transition: all 0.3s ease-out
  &__title
    font-size: 20px
    text-align: center
    margin-bottom: 5px
  &__link
    text-align: center
    &-more
      position: relative
      &::before
        content: ''
        position: absolute
        top: 7px
        right: 100px
        width: 16px
        height: 5px
        background: url("../images/icons/sprite.svg#arrow-more") center / cover no-repeat
        transition: right 0.3s ease-out
