.hero-adv

  // .hero-adv__container
  &__container

    // .hero-adv__container--wide
    &--wide
      max-width: 1440px
      display: flex
      flex-wrap: wrap
      padding: 0

  // .hero-adv__item
  &__item
    width: 33.33%
    height: 400px
    background-color: $white
    display: flex
    align-items: center
    justify-content: center

  // .hero-adv__text
  &__text
    padding: 80px
    text-align: center
    font-size: 20px
    span
      font-weight: 700
      display: block
      font-size: 50px

  // .hero-adv__img
  &__img
    // padding-bottom: 83.33%
    height: 100%
    width: 100%
    overflow: hidden
