.footer
  background-color: $black
  padding: 40px 0 80px
  color: $white

  // .footer__container
  &__container
    display: flex
    justify-content: space-between
    @include mediaPhone
      flex-direction: column
      row-gap: 20px


  // .footer__part
  &__part
    min-width: 226px
    @include mediaPhone
      border-bottom: 1px solid $white
      padding-bottom: 10px

  // .footer__head
  &__head
    @include font(700, 20, 24)
    margin-bottom: 35px

  // .footer__list
  &__list

  // .footer__item
  &__item
    transition: color 0.3s ease
    &:not(:last-child)
      margin-bottom: 19px
    a
      position: relative
      &::before
        position: absolute
        content: ''
        display: block
        bottom: -6px
        left: 0
        width: 0%
        height: 1px
        background-color: $white
        transition: width 0.5s ease
      @media (any-hover: hover)
        &:hover
          &::before
            width: 100%
