.social
  display: flex
  align-items: center
  justify-content: flex-end
  margin-top: 30px
  margin-right: 35px
  li
    &:not(:last-child)
      margin-right: 30px
  svg
    width: 30px
    height: 30px
